@import '../index.css';

.availible {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 9px;
    border-radius: 0px 0px 0px 0px;
}

.dot {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #2e7cff;
    border-radius: 100px;

    /*Animation here*/
    animation: pulse 3s ease-in-out infinite;
}

.status {
    width: auto;
    height: auto;
    white-space: nowrap;
    font-weight: 600;
    font-style: normal;
    font-family: var(--text-ibm);
    color: #9dbbff;
    font-size: 11px;
    letter-spacing: 1.25px;
    line-height: 1.2;
    font-feature-settings: normal;

    /*Animation here*/
    overflow: hidden;
    animation: typing 1.5s steps(40, end) forwards;
}