@import '../index.css';

.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    background-color: #151c29;
    overflow: var(--overflow-clip-fallback, clip);
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 7px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    transition: transform 0.4s ease-out, background-color 0.4s ease-out;
}

.title {
    width: 100%;
    height: auto;
    font-weight: 600;
    font-family: var(--text-ibm);
    color: #f2f6ff;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.2;
    font-feature-settings: normal;
}

.description {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-family: var(--text-ibm);
    color: #8e9bb0;
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 1.45;
    font-feature-settings: normal;
}

.block:hover, .block:focus {
    transform: scale(1.1);
    background-color: #19243A;
}

@media screen and (max-width: 767px) {
    .block {
        width: 100%;
        height: min-content;
    }

    .block:hover, .block:focus {
        transform: scale(1.05);
        background-color: #19243A;
}
}