.main {
    box-sizing: border-box;
    flex: 1;
    width: 1px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px;
    background-color: #10141c;
    overflow: var(--overflow-clip-fallback, clip);
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 22px;
    border-radius: 0px 0px 0px 0px;
}

.toplabel {
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 600;
    font-style: normal;
    font-family: var(--text-ibm);
    color: #578dff;
    font-size: 11px;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-feature-settings: normal;
}

.capabilities {
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-style: normal;
    font-family: "Nippo", "Nippo Placeholder", sans-serif;
    color: #f4f7ff;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.08;
    font-feature-settings: normal;
}